# PROJECT-1: MONTE-CRYPTO

## MAXIMUM PORTFOLIO PERFORMANCE - PRE-COVID AND POST-COVID ANALYSIS  

##### *Cassandra Johnson, Ken Lindgren, Rawad Habib, Antonio Pinkston, Floriane Beyegue, Nigil  Jeyashekar*

### 1.0  INTRODUCTION

##### Enter Text Here

### 2.0  Importing Libraries

In [85]:
import warnings
warnings.simplefilter(action="ignore")
import pandas as pd
import numpy as np
from pathlib import Path
import datetime as dt
import seaborn as sns
%matplotlib inline
!echo %cd%

C:\Users\VSNU\Desktop\GWU BACKUP\GWU-ARL-FIN-PT-09-2020-U-C\Project1_MonteCrypto

### 3.0  Data Cleaning

#### 3.1  Defining Path Names for csv Files

In [86]:
BTC_USD_path = Path("Resources/BTC-USD.csv")
ETH_USD_path = Path("Resources/ETH-USD.csv")
LTC_USD_path = Path("Resources/LTC-USD.csv")
Corn_path = Path("Resources/Corn.csv")
Soybeans_path = Path("Resources/Soybeans.csv")
Wheat_path = Path("Resources/Wheat.csv")
SPY_path = Path("Resources/SPY.csv")
AMZN_path = Path("Resources/AMZN.csv")
LUV_path = Path("Resources/LUV.csv")
PFE_path = Path("Resources/PFE.csv")
AAPL_path = Path("Resources/AAPL.csv")
Gold_path = Path("Resources/Gold.csv")
Silver_path = Path("Resources/Silver.csv")
Platinum_path = Path("Resources/Platinum.csv")
#df=pd.read_csv(BTC_USD_path)
#df1=df[["Date","Close"]]
#df1

#### 3.2  Defining a Function to Read csv Files as Data Frames
#####  *Sets Date to Required Format. Sets Date as Index. Drops Extraneous Columns and Null Values. Sorts Data Frame by Date.*

In [87]:
def returns(csvpath):
    df=pd.read_csv(csvpath)
    df=df[["Date","Close"]]
    df.set_index(pd.to_datetime(df['Date'], infer_datetime_format=True), inplace=True)
    df.drop(columns=['Date'], inplace=True)
    df_1=df.sort_values(by=['Date'], ascending=True)
    df_new=df_1.dropna()
    return df_new

### 3.3  Checks to Ensure Null Values have been Dropped for all Datasets using the Function

In [88]:
BTC_USD_df=returns(BTC_USD_path)
BTC_USD_df.columns=["BTC"]
BTC_USD_df.isnull().sum()

BTC    0
dtype: int64

In [89]:
ETH_USD_df=returns(ETH_USD_path)
ETH_USD_df.columns=["ETH"]
ETH_USD_df.isnull().sum()

ETH    0
dtype: int64

In [90]:
LTC_USD_df=returns(LTC_USD_path)
LTC_USD_df.columns=["LTC"]
LTC_USD_df.isnull().sum()

LTC    0
dtype: int64

In [91]:
Corn_df=returns(Corn_path)
Corn_df.columns=["Corn"]
Corn_df.isnull().sum()

Corn    0
dtype: int64

In [92]:
Soybeans_df=returns(Soybeans_path)
Soybeans_df.columns=["Soybeans"]
Soybeans_df.isnull().sum()

Soybeans    0
dtype: int64

In [93]:
Wheat_df=returns(Wheat_path)
Wheat_df.columns=["Wheat"]
Wheat_df.isnull().sum()

Wheat    0
dtype: int64

In [94]:
SPY_df=returns(SPY_path)
SPY_df.columns=["SPY"]
SPY_df.isnull().sum()

SPY    0
dtype: int64

In [95]:
AMZN_df=returns(AMZN_path)
AMZN_df.columns=["AMZN"]
AMZN_df.isnull().sum()

AMZN    0
dtype: int64

In [96]:
LUV_df=returns(LUV_path)
LUV_df.columns=["LUV"]
LUV_df.isnull().sum()

LUV    0
dtype: int64

In [97]:
PFE_df=returns(PFE_path)
PFE_df.columns=["PFE"]
PFE_df.isnull().sum()

PFE    0
dtype: int64

In [98]:
AAPL_df=returns(AAPL_path)
AAPL_df.columns=["AAPL"]
AAPL_df.isnull().sum()

AAPL    0
dtype: int64

In [99]:
Gold_df=returns(Gold_path)
Gold_df.columns=["Gold"]
Gold_df.isnull().sum()

Gold    0
dtype: int64

In [100]:
Silver_df=returns(Silver_path)
Silver_df.columns=["Silver"]
Silver_df.isnull().sum()

Silver    0
dtype: int64

In [101]:
Platinum_df=returns(Platinum_path)
Platinum_df.columns=["Platinum"]
Platinum_df.isnull().sum()

Platinum    0
dtype: int64

### 3.4  Printing all the Datasets

In [102]:
BTC_USD_df=BTC_USD_df.pct_change().dropna()
BTC_USD_df.head()

                 BTC
Date
2015-01-02  0.002492
2015-01-03 -0.107767
2015-01-04 -0.060079
2015-01-05  0.038907
2015-01-06  0.042682

In [ ]:
# To be continued
# pct_change
# analysis