# PROJECT-1: MONTE-CRYPTO

## MAXIMUM PORTFOLIO PERFORMANCE - PRE-COVID AND POST-COVID ANALYSIS  

##### *Cassandra Johnson, Ken Lindgren, Rawad Habib, Antonio Pinkston, Floriane Beyegue, Nigil  Jeyashekar*

### 1.0  INTRODUCTION

##### Enter Text Here

### 2.0  Importing Libraries

In [1]:
import warnings
warnings.simplefilter(action="ignore")
import pandas as pd
import numpy as np
from pathlib import Path
import datetime as dt
import seaborn as sns
%matplotlib inline
!echo %cd%

%cd%

### 3.0  Data Cleaning

#### 3.1  Defining Path Names for csv Files

In [2]:
BTC_USD_path = Path("Resources/BTC-USD.csv")
ETH_USD_path = Path("Resources/ETH-USD.csv")
LTC_USD_path = Path("Resources/LTC-USD.csv")
Corn_path = Path("Resources/Corn.csv")
Soybeans_path = Path("Resources/Soybeans.csv")
Wheat_path = Path("Resources/Wheat.csv")
SPY_path = Path("Resources/SPY.csv")
AMZN_path = Path("Resources/AMZN.csv")
LUV_path = Path("Resources/LUV.csv")
PFE_path = Path("Resources/PFE.csv")
AAPL_path = Path("Resources/AAPL.csv")
Gold_path = Path("Resources/Gold.csv")
Silver_path = Path("Resources/Silver.csv")
Platinum_path = Path("Resources/Platinum.csv")
#df=pd.read_csv(BTC_USD_path)
#df1=df[["Date","Close"]]
#df1

#### 3.2  Defining a Function to Read csv Files as Data Frames
#####  *Sets Date to Required Format. Sets Date as Index. Drops Extraneous Columns and Null Values. Sorts Data Frame by Date.*

In [3]:
def returns(csvpath):
    df=pd.read_csv(csvpath)
    df=df[["Date","Close"]]
    df.set_index(pd.to_datetime(df['Date'], infer_datetime_format=True), inplace=True)
    df.drop(columns=['Date'], inplace=True)
    df_1=df.sort_values(by=['Date'], ascending=True)
    df_new=df_1.dropna()
    return df_new

### 3.3  Checks to Ensure Null Values have been Dropped for all Datasets using the Function

In [4]:
BTC_USD_df=returns(BTC_USD_path)
BTC_USD_df.columns=["BTC"]
BTC_USD_df.isnull().sum()

BTC    0
dtype: int64

In [5]:
ETH_USD_df=returns(ETH_USD_path)
ETH_USD_df.columns=["ETH"]
ETH_USD_df.isnull().sum()

ETH    0
dtype: int64

In [6]:
LTC_USD_df=returns(LTC_USD_path)
LTC_USD_df.columns=["LTC"]
LTC_USD_df.isnull().sum()

LTC    0
dtype: int64

In [7]:
Corn_df=returns(Corn_path)
Corn_df.columns=["Corn"]
Corn_df.isnull().sum()

Corn    0
dtype: int64

In [8]:
Soybeans_df=returns(Soybeans_path)
Soybeans_df.columns=["Soybeans"]
Soybeans_df.isnull().sum()

Soybeans    0
dtype: int64

In [9]:
Wheat_df=returns(Wheat_path)
Wheat_df.columns=["Wheat"]
Wheat_df.isnull().sum()

Wheat    0
dtype: int64

In [10]:
SPY_df=returns(SPY_path)
SPY_df.columns=["SPY"]
SPY_df.isnull().sum()

SPY    0
dtype: int64

In [11]:
AMZN_df=returns(AMZN_path)
AMZN_df.columns=["AMZN"]
AMZN_df.isnull().sum()

AMZN    0
dtype: int64

In [12]:
LUV_df=returns(LUV_path)
LUV_df.columns=["LUV"]
LUV_df.isnull().sum()

LUV    0
dtype: int64

In [13]:
PFE_df=returns(PFE_path)
PFE_df.columns=["PFE"]
PFE_df.isnull().sum()

PFE    0
dtype: int64

In [14]:
AAPL_df=returns(AAPL_path)
AAPL_df.columns=["AAPL"]
AAPL_df.isnull().sum()

AAPL    0
dtype: int64

In [15]:
Gold_df=returns(Gold_path)
Gold_df.columns=["Gold"]
Gold_df.isnull().sum()

Gold    0
dtype: int64

In [16]:
Silver_df=returns(Silver_path)
Silver_df.columns=["Silver"]
Silver_df.isnull().sum()

Silver    0
dtype: int64

In [17]:
Platinum_df=returns(Platinum_path)
Platinum_df.columns=["Platinum"]
Platinum_df.isnull().sum()

Platinum    0
dtype: int64

### 3.4  Printing all the Datasets

In [18]:
BTC_USD_df=BTC_USD_df.pct_change().dropna()
BTC_USD_df.head()

                 BTC
Date
2015-01-02  0.002492
2015-01-03 -0.107767
2015-01-04 -0.060079
2015-01-05  0.038907
2015-01-06  0.042682

In [19]:
ETH_USD_df=ETH_USD_df.pct_change().dropna()
ETH_USD_df.head()

                 ETH
Date
2015-08-08 -0.728249
2015-08-09 -0.068268
2015-08-10  0.009333
2015-08-11  0.507323
2015-08-12  0.140075

In [23]:
crypto_portfolio_data = pd.concat([BTC_USD_df, ETH_USD_df, LTC_USD_df], axis="columns", join="inner")
crypto_portfolio_data = crypto_portfolio_data.pct_change().dropna()
crypto_portfolio_data

                  BTC        ETH       LTC
Date
2015-08-09  -1.235475  -0.906257  0.011373
2015-08-10  -1.147714  -1.136715  0.012900
2015-08-11 -10.673132  53.356362  0.053349
2015-08-12  -1.662990  -0.723895 -0.041855
2015-08-13  -0.418804   2.578383 -0.026373
...               ...        ...       ...
2020-10-27  12.091987  -1.845548  0.018861
2020-10-28  -1.633359  -2.480135 -0.035864
2020-10-29  -1.447610  -0.869904 -0.017521
2020-10-30  -0.355977   1.045941 -0.016996
2020-10-31   1.140952  -1.974103  0.032604

[1911 rows x 3 columns]

In [24]:
comm_portfolio_data = pd.concat([Corn_df, Soybeans_df, Wheat_df], axis="columns", join="inner")
comm_portfolio_data = comm_portfolio_data.pct_change().dropna()
comm_portfolio_data

                Corn  Soybeans     Wheat
Date
2015-01-05  0.025900  0.037157  0.003788
2015-01-06 -0.002463  0.010820 -0.008805
2015-01-07 -0.021605  0.001665 -0.006345
2015-01-08 -0.005047 -0.007362 -0.025543
2015-01-09  0.015219  0.006220  0.020970
...              ...       ...       ...
2020-10-26 -0.003578  0.003691 -0.011919
2020-10-27 -0.004189 -0.005056 -0.007238
2020-10-28 -0.034856 -0.023100 -0.008505
2020-10-29 -0.007472 -0.005202  0.004902
2020-10-30  0.000000  0.004516  0.001220

[1437 rows x 3 columns]

In [25]:
stock_portfolio_data = pd.concat([AMZN_df, LUV_df, PFE_df, AAPL_df], axis="columns", join="inner")
stock_portfolio_data = stock_portfolio_data.pct_change().dropna()
stock_portfolio_data

                AMZN       LUV       PFE      AAPL
Date
2015-01-05 -0.020517 -0.024596 -0.005426 -0.028172
2015-01-06 -0.022833 -0.028338  0.008344  0.000094
2015-01-07  0.010600  0.008403  0.013686  0.014022
2015-01-08  0.006836  0.026471  0.020408  0.038422
2015-01-09 -0.011749 -0.026027  0.004615  0.001073
...              ...       ...       ...       ...
2020-10-23  0.008815  0.020510  0.020037 -0.006134
2020-10-26  0.000824 -0.039495 -0.006810  0.000087
2020-10-27  0.024724 -0.028467 -0.012922  0.013472
2020-10-28 -0.037595 -0.044828 -0.052899 -0.046312
2020-10-29  0.015249  0.037493 -0.004796  0.037050

[1467 rows x 4 columns]

In [26]:
metals_portfolio_data = pd.concat([Gold_df, Silver_df, Platinum_df], axis="columns", join="inner")
metals_portfolio_data = metals_portfolio_data.pct_change().dropna()
metals_portfolio_data

                Gold    Silver  Platinum
Date
2015-01-05  0.016721  0.026291  0.008316
2015-01-06  0.002645  0.021605  0.007010
2015-01-07 -0.000577 -0.000906 -0.001229
2015-01-08 -0.003010 -0.010432 -0.000820
2015-01-09  0.011747  0.009015  0.011490
...              ...       ...       ...
2020-10-27  0.001156 -0.001389  0.002852
2020-10-28 -0.013965 -0.035543 -0.006257
2020-10-29 -0.006150 -0.006676 -0.025186
2020-10-30  0.006589  0.064093  0.000000
2020-10-31  0.000000  0.000000  0.000000

[1701 rows x 3 columns]